@import "./core.css";

* {
  font-family: 'Jaldi', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jaldi', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  width: 100vw;
  height: 100vh;
}

/* Cabeçalho */
header {
  background-color: #fff;
  /* Fundo branco */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
  display: flex;
  /* Para alinhar logo e menu */
  justify-content: space-between;
  /* Espaçamento entre logo e menu */
  align-items: center;
  /* Alinhamento vertical */
}

header img {
  height: 50px;
  /* Altura da logo */
}

nav ul {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: var(--Verde-900);
  font-size: 1.2em;
  font-weight: 700;
}

nav a:hover {
  color: var(--Verde-700);
}

.btn-acessar-conta, .btn-voltar-home {
  background-color: var(--Verde-900);
  font-size: 1.2em;
  color: var(--Branco);
  padding: .25rem .75rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

.btn-abrir-conta {
  background-color: var(--Verde-700);
  font-size: 1.2em;
  color: var(--Branco);
  padding: .5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

/* Seção Hero */
.hero {
  background: linear-gradient(
    60deg, 
    rgb(128 249 198 / 20%), 
    rgb(128 249 198 / 20%)
    ), url('./assets/hero-background.jpg') center no-repeat;
  background-size: cover;
  width: 100dvw;;
  height: 80dvh;
  color: white;
}

.hero h1 {
  font-size: 3em;
  /* Tamanho da fonte do título */
  margin-bottom: 20px;
}

.benefits {
  padding: 40px 80px;
  background-color: #f9f9f9;
}


.benefits ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.benefits ul li {
  min-height: 225px;
  background-color: var(--Verde-200);
  color: var(--Verde-900);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.benefits ul li h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

.benefits ul li p {
  font-size: 1em;
  font-weight: 300;
}

/* Seção Serviços */

.section-title {
  background-color: var(--Verde-700);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.section-title h2 {
  color: var(--Branco);
  font-weight: bold;
}

.services {
  background-color: #f9f9f9;
}

.service h3 {
  font-size: 2em;
  color: var(--Verde-900);
  font-weight: bold;
}

.service p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.vantagem-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-layer {
  position: fixed;
  z-index: 1;
  background-color: var(--Verde-200);
  opacity: .2;
}

p {
  font-size: 1.2em;
  line-height: 1.15;
}

footer {
  color: white;
  padding: 20px;
  text-align: center;
}

.app-stores {
  margin-top: 20px;
}

.app-stores img {
  height: 40px;
  margin: 0 10px;
}

footer {
  background-color: var(--Verde-700);
}

footer p {
  padding: 0;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}


.signup-image {
  background: linear-gradient(
    60deg, 
    rgb(128 249 198 / 20%), 
    rgb(128 249 198 / 20%)
    ), url('./assets/signup-image-background.jpg') center no-repeat;
  background-size: cover;
  width: 100dvw;;
  height: 80dvh;
  color: white;
}



.form-bg-color{
  background-color: #F7F7F7;

}

.signup-form{
  border-radius: 5%;
}

.side-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2.5em;
}

.side-form-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 80%;
}

.form-box {
  display: flex;
  flex-direction: column;
}

.side-form-labels {
  align-self: start;
  font-size: 1em;
}

.side-form form div input {
  height: 3em;
}

.side-form form button {
  height: 3em;
  border: none;
  background-color: #673497;
  color: #649734;
  font-weight: 700;
}

.side-form form button:hover {
  background-color: #973634;
}

.side-form form button::before {
  background-color: #cf7776;
}

